@model UpAzure.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_name" class="control-label"></label>
                <input asp-for="_name" class="form-control" />
                <span asp-validation-for="_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_email" class="control-label"></label>
                <input asp-for="_email" class="form-control" />
                <span asp-validation-for="_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_user" class="control-label"></label>
                <input asp-for="_user" class="form-control" />
                <span asp-validation-for="_user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_pass" class="control-label"></label>
                <input asp-for="_pass" class="form-control" />
                <span asp-validation-for="_pass" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
